[package]
name = "frozone"
version = "0.1.0"
edition = "2024"

[features]
default = ["std"]
std = ["alloc"]
alloc = []

[dependencies]
frozone-derive = { path = "../frozone-derive", version = "0.1.0" }

[dev-dependencies]
static_assertions = "1.1.0"
